* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
}
.header {
    background-color: lightgray;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.container {
     display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 50px;
    height: calc(100vh - 220px);
}
nav {
    background-color: lightgrey;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
article {
    background-color: lightgray;
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside {
    background-color: lightgray;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: lightgray;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}
