* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-items {
    width: 600px;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 25px 80px;
}
.nav-items {
    li {
        font-weight: bold;
        font-size: 20px;
    }
}
.frist-listitems {
    color: orange;
}
.frist-listitems:hover {
    color: black;
    cursor: pointer;
}
.list-items:hover {
    color: orange;
    cursor: pointer;
}
.city {
    color: orange;
}
.order-btn {
    padding: 20px;
    width: 185px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 25px;
    border-radius: 20px;
}
.title {
    font-size: 100px;
    margin-bottom: 20px;
    font-weight: bold;
}
.para {
    font-size: 18px;
    margin-bottom: 20px;
}
.hero-section {
    display: flex;
    justify-content: space-between;
    margin: 25px 80px;
}

body {
  background-color: #f9f9f9;
}

.nav-items {
  width: 600px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 25px 80px;
}

.nav-items {
  li {
    font-weight: bold;
    font-size: 20px;
  }
}

.first-listitem {
  color: orange;
}

.first-listitem:hover {
  color: black;
  cursor: pointer;
}

.list-item:hover {
  color: orange;
  cursor: pointer;
}

.city {
  color: orange;
}

.order-btn {
  padding: 20px;
  width: 185px;
  border: none;
  background-color: orange;
  color: white;
  font-size: 25px;
  border-radius: 20px;
}

.title {
  font-size: 100px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.para {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  margin: 25px 80px;
}


