* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    height: 500px;
    width: 800px;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
}
.header {
    border: 1px solid black;
    height: 100px;
    width: 780px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.container {
    height: 360px;
    width: 780px;
    margin-top: 10px;
    display: flex;
    gap: 1%;
}
.sidebar {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 10px;
}
.main {
    width: 58%;
    height: 100%;
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 10px;
}