*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 100px;
    width: 100px;
    background-color: rgba(128, 128, 128, 0.177);
}
form {
    background-color: white;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.full-name, .email {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid lightgray;
    padding-left: 10paix;
}
.your-message {
    height: 120px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid lightgray;
    padding-left: 10paix;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.send-message {
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: orangered;
    border: none;
    color: white;
    font-weight: bold;
}
.frist-container {
    margin-top: 100px;
    margin-left: 200px;
}