* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
display: flex;
flex-direction: column;
align-items: center;
gap: 50px;
}
.card-container {
width: 300px;
height: 350px;
border-radius: 10px;
}
.image {
height: 250px;
width: 300px;
border-radius: 10px;
}
.sub-container {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}
.resturant-container {
display: flex;
gap: 40px;
justify-content: center;
width: 980px;
flex-wrap: wrap;
}