* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Article {
    display: flex;
    align-items: flex-start;
    width: 400px;
    justify-content: space-around;
    font-size: 20px;
}
.a:hover {
     color: black;
    cursor: pointer;
}
.b:hover {
    color: blue;
    cursor: pointer;
}
.nav-items {
  width: 600px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 25px 80px;
}
.nav-items {
  li {
    font-weight: bold;
    font-size: 20px;
  }
}
.first-listitem {
  color: blue;
}
.first-listitem:hover {
  color: blue;
  cursor: pointer;
}
.items:hover {
  color: blue;
  cursor: pointer;
}
.h5 {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
}
.paragraph {
    width: 40px;
    align-items: flex-start;
    font-size: 20px;
}
.h4 {
    font-size: 30px;
    color: black;
}
.early {
  margin-top: 20px;
  font-size: 20px;
  
}
