* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 20% 20% 20%;
    gap: 10px;
}
.image {
    height: 60%;
    width: 75%;
   object-fit: cover;
}