* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.caption {
    color: blue;
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 30px;
}
th {
    color: brown;
}
/*tr:nth-child(2) {
    background-color: bisque;
}
tr:nth-child(even) {
    background-color: blueviolet;
}*/
tr:hover {
    cursor: pointer;
    background-color: crimson;
}