.frist-container {
    display: flex;
    flex-direction: row;
    height: 1000px;
    background-color: deeppink;
    /*justify-content: center;
    align-items: flex-end;*/
   /* justify-content: center;
    align-items: flex-start;*/
    /*justify-content: center;
    align-items: center;*/
    /*justify-content: flex-end;
    align-items: flex-end;*/
    /*justify-content: flex-start;
    align-items: flex-start;*/
    /*justify-content: flex-end;
    align-items: flex-start;*/
    /*justify-content: flex-start;
    align-items: center;*/
    /*justify-content: flex-end;
    align-items: center;*/
    justify-content: flex-start;
    align-items: center;
}
.a-container {
    height: 300px;
    width: 300px;
    background-color: darkmagenta;
}
.b-container {
    height: 300px;
    width: 300px;
    background-color: darkblue;
}