* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#box1 {
    height: 100px;
    width: 100%;
    border: 1px solid black;
    background-color: aqua;
}
#box2 {
    height: 100px;
    width: 100%;
    border: 1px solid red;
    background-color: palegreen;
    position: sticky;
     top: 0px;
}
#box3 {
    height: 100px;
    width: 800px;
    border: 1px solid sienna;
    background-color: aquamarine;
}
#box4 {
    height: 100px;
    width: 800px;
    border: 1px solid navy;
    background-color: chartreuse;
}
