* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.hero-section {
    display: grid;
    grid-template-columns: 50% 50%;
}
.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero-left-content {
    background-color: #fef7e5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 3px 10px 20px;
    text-align: center;
}
.hero-heading {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}
.hero-para {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px;
}
.read-more {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 30px;
}
.read-more:hover {
    background-color: black;
    color: white;
    cursor: pointer;

}
.sweets-section {
    background-image: url("images/backGroundImage1.jpg");
    height: 650px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}
.sweets-heading {
    color: white;
    font-size: 70px;
    font-weight: bold;
}
.sweet-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.sweet-item {
    background-color: white;
    border-radius: 15px;
    width: 350px;
    padding: 30px;
    height: 250px;
}
.items-list {
    list-style: none;
    li {
        line-height: 30px;
        font-size: 20px;
    }
} 
.our-bread-section {
    background-color: #e8b284;
    height: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.our-bread {
    font-size: 50px;
    font-weight: bolder;
    margin-top: -60px;
}
.our-bread-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    gap: 10px;
}
.bread-item {
    width: 400px;
    background-color: white;
    padding: 20px;
}
.bread-item-image {
    height: 230px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 15px;
   margin-left: 30px;
}
.item-name {
    margin-bottom: 10px;
    font-size: 30px;
}
.item-price {
    color: orange;
    margin-bottom: 10px;
    font-size: 25px;
}
.item-drecription {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 15px;
}
.add-to-cart {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    width: 150px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.item-name:hover {
    cursor: pointer;
}
.add-to-cart:hover {
    cursor: pointer;
}
.bread-item-image:hover {
    cursor: pointer;
}
.Subscribe-section {
    background-image: url("images/subscribeBackground.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.9;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Subscribe-content {
    width: 700px;
    padding-left: 250px;
}
.Subscribe-heading1 {
    font-weight: bold;
    margin-bottom: 20px;
   font-size: 35px;
}
.Subscribe-heading2 {
    margin-bottom: 20px;
    line-height: 30px;
}
.subscribe-button {
    background-color: #e2781a;
    color: white;
    border-radius: 30px;
    padding: 10px;
    width: 130px;
    border: none;
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
}
.subscribe-button:hover {
    color: orange;
    background-color: white;
}
.Subscribe-para {
    font-size: 15px;
    font-weight: bolder;
}    
.footer-section {
    background-color: black;
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.footer-title {
    margin-bottom: 20px;
}
.footer-items-list {
    li {
        list-style: none;
        line-height: 30px;
        font-size: 12px;
    }
    li:hover {
        cursor: pointer;
        color: #e2781a;
        text-decoration: underline;
    }
}
.send-message {
     background-color: #e2781a;
    color: white;
    border-radius: 30px;
    padding: 10px;
    width: 200px;
    border: none;
    font-weight: bold;
}
.social-media-links {
    color: #e2781a;
    fill:#e2781a;
}
.phone-icon {
    i{
       color: #e2781a;
       fill:#e2781a;
       padding-right: 20px;
    }
}