* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container {
    height: 900px;
    width: 600px;
    background-image: url("images/eid.png");
    background-position: center;
    background-size: cover; 
}
.wish {
    font-family: "Lobster Two", sans-serif;
    font-size: 70px;
    color: rgba(221, 30, 145, 0.736);
    padding-top: 200px;
    padding-left: 150px;
    padding-bottom: 20px;
}
.eid {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  padding-left: 170px;
  padding-bottom: 20px;
  color:cornflowerblue;
}
h3 {
      font-family: "Dancing Script", cursive;
      padding-left: 100px;
      padding-right: 100px;
      color: rgb(248, 178, 1);
}
h4 {
    padding-top: 190px;
    font-size: 50px;
    font-weight: bolder;
    padding-left: 180px;
    color: rgba(255, 0, 0, 0.97);
}