* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container {
    display: flex;
    background-color: bisque;
    gap: 20px;
    flex-direction: column;
    height: 100vh;
   /* align-content: flex-start;*/
   /*align-content: flex-end;*/
   align-content: center;
   flex-wrap: wrap;
}
.container1 {
    height: 100px;
    width: 100px;
    background-color: blue;
}
.container2 {
     height: 100px;
    width: 100px;
    background-color: rebeccapurple;
}
.container3 {
     height: 100px;
    width: 100px;
    background-color:purple;
}