* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container1 {
    height: 200px;
    width: 200px;
    background-color: chartreuse;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
     order: 2;
    /* flex-shrink: 0;*/
}
.container2 {
    height: 200px;
    width: 200px;
    background-color: red;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
     order: 1;
     /*flex-shrink: 0;*/
     flex-grow: 2;
}
.container3 {
    height: 200px;
    width: 200px;
    background-color: blue;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
     order: 3;
     flex-grow: 1;
}
.main-container {
    display: flex;
    margin-top: 30px;
    width: 600px;
    background-color: darkmagenta;
}