* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background:#f0f2f5;
}
.container{
    display:flex;
    height:100vh;
}
.left{
    width:55%;
    background:#fff;
    padding:40px;
    position:relative;
}
.logo{
    background-color:#1877f2;
    color: white;
    font-size:55px;
    font-weight:bold;
    height: 60px;
    width: 60px;
    padding-bottom: 15px;
    padding-left: 16px;
     padding-top: 0px;
     border-radius: 30px;
}
.text{
    position:absolute;
    bottom:80px;
    left:30px;
}
.text h1{
    font-size:70px;
    line-height:75px;
    font-weight:bold;
}
.text span{
    color:#1877f2;
}
.right{
    width:45%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff;
    border-left:1px solid #ddd;
}
.login-box{
    width:380px;
}
.login-box h2{
    font-size:28px;
    margin-bottom:30px;
}
input{
    width:100%;
    padding:16px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
}
button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:25px;
    font-size:18px;
    cursor:pointer;
}
.login-btn{
    background:#1877f2;
    color:#fff;
    margin-bottom:20px;
}
.create-btn{
    background:#fff;
    border:1px solid #1877f2;
    color:#1877f2;
    margin-top:30px;
}
.forgot{
    text-align:center;
    margin-top:10px;
    font-size:16px;
}

